
.goods__wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}

.products__title {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  
}

.goods {
  margin-top: 6px;
  display: flex;
  flex-wrap: wrap;
}
